.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Counter, .Weight, .Lock {
  height: 300px;
  width: 40%;
  border: 1px black solid;
  margin: 5px;
}
